header {
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.2);
}

header nav{
    display: flex;
    flex-wrap: wrap;
}

header nav ul:nth-child(1) li a{
    display: flex;
    align-items: center;
}

header nav ul:nth-of-type(1) {
    width: calc(66.66% - 10px); /* 2/3 of the width with some spacing */
    margin-bottom: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.625em;
    align-items: center;
}


figure svg {
    width: 7em;
    height: 2.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    align-items: center;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1.25em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 56, 120);
}


form {
    border: 0.0625em solid #ddd;
    border-radius: 9.375em;
    display: flex;
    text-align: center;
}

form input {
    margin: 0.75em 0.75em 0.75em 0.625em;
    border: none !important; /* no border and override any inline styles*/
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

input:focus {
    outline: none !important;
}

form button {
    background-color: rgb(0, 56, 120);
    border-radius: 9.375em;
    padding: 0.5em 0.75em;
    margin: 0.125em;
    cursor: pointer;
}

button {
    border: none;
    color: rgb(0, 56, 120);
    padding: 0.625em;
    cursor: pointer;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 0.0625em;
}

picture {
    display: block;
    width: calc(100% - 8%);
    margin: 1.875em 4%;
    padding: 0;
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

picture:hover {
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.2); /* Adjust the shadow as needed */
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h2 {
    color: gray;
    text-align: center;
    margin-top: 0.625em;
}

section ul {
    list-style-type: none;
    margin: 0 5%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    display: flex;
}

section ul li {
    margin: 0.625em 0.625em;
    flex: 1;
}

li button {
    margin: 0.625em 0.625em;
    border-radius: 0.3125em;
    height: 3.125em;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
}

li a span{
    font-size: 0.8125em;
}

table {
    margin: 0 10%;
    background-color: #23b3d5;
    border: 0.625em solid #23b3d5;
}

table, tr, td {
}

th, td {
    padding: 0.5em;
    text-align: center;
}

p {
    padding: 0 10%;
}

a {
    color: rgb(0, 56, 120);
}

section:nth-of-type(2){
    text-align: center;
}

section:nth-of-type(3){
    flex-wrap: wrap;
}


/*
section:nth-of-type(3) button:nth-child(2){
    color: white; 
    background-color: orange;
}
*/

section li {
    list-style: none;
    margin-right: 1.25em;
    display: flex;
    align-items: center;
}

hr {
    margin: 1.875em 10%;
}

h4 {
    margin: 0;
    padding: 0;
}

section nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 1;
}


/* microinteractie */
#myDropdown {
    padding: 70px 0; 
    overflow: scroll;
}

#myDropdown section{
    background-color: white; 
    border-radius: 1em; 
    margin: 0 10%;
}